body {
    background-image: linear-gradient(to bottom right, lightgray, brown);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.menu {
    text-align: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 20px;
    width: 30%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(5px);
}

.search, .trending {
    text-align: center;
    padding: 20px;
}

h1 {
    text-align: center;
}

h1, h2,  p, label {
    color: white;
}

img {
    padding: 10px;
    justify-content: center;
}

input {
    border-radius: 20px;
}

.gifs {
    text-align: center;
    padding: 20px;
    margin: 20px;
}